<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Welcoming headers -->
    <h1 class="text-center text-uppercase">Welcome Back <%= name %></h1>
    <h2 class="text-center">Shopping Menu</h2>
    <!-- Shopping cards for showing price discount for specified users -->
    <div class="container text-center">
      <div class="row">
        <div class="card col mx-2 my-2" style="width: 18rem">
          <img src="Brown Jacket.jpg" class="card-img-top" alt="Brown Jacket" />
          <div class="card-body">
            <h3 class="card-title">Brown Jacket</h3>
            <% if (premium || discount.find(item => item == "item1")) { %>
            <p class="card-text h1"><del>$300</del> $240</p>
            <a href="#" class="btn btn-outline-success">Discount</a>
            <% } else { %>
            <p class="card-text h1">$300</p>
            <p class="card-text h5">Get a membership or buy it for the first time to avail discount.</p>
            <% } %>
          </div>
        </div>
        <div class="card col mx-2 my-2" style="width: 18rem">
          <img src="Pink Sweater.jpg" class="card-img-top" alt="Pink Sweater" />
          <div class="card-body">
            <h3 class="card-title">Pink Sweater</h3>
            <% if (premium || discount.find(item => item == "item2")) { %>
              <p class="card-text h1"><del>$150</del> $120</p>
              <a href="#" class="btn btn-outline-success">Discount</a>
              <% } else { %>
              <p class="card-text h1">$150</p>
              <p class="card-text h5">Get a membership or buy it for the first time to avail discount.</p>
              <% } %>
          </div>
        </div>
        <div class="card col mx-2 my-2" style="width: 18rem">
          <img src="Blue Tshirt.jpg" class="card-img-top" alt="Blue Tshirt" />
          <div class="card-body">
            <h3 class="card-title">Blue Tshirt</h3>
            <% if (premium || discount.find(item => item == "item3")) { %>
              <p class="card-text h1"><del>$75</del> $60</p>
              <a href="#" class="btn btn-outline-success">Discount</a>
              <% } else { %>
              <p class="card-text h1">$75</p>
              <p class="card-text h5">Get a membership or buy it for the first time to avail discount.</p>
              <% } %>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="card col mx-2 my-2" style="width: 18rem">
          <img
            src="Checked Shirt.jpg"
            class="card-img-top"
            alt="Checked Shirt"
          />
          <div class="card-body">
            <h3 class="card-title">Checked Shirt</h3>
            <% if (premium || discount.find(item => item == "item4")) { %>
              <p class="card-text h1"><del>$150</del> $120</p>
              <a href="#" class="btn btn-outline-success">Discount</a>
              <% } else { %>
              <p class="card-text h1">$150</p>
              <p class="card-text h5">Get a membership or buy it for the first time to avail discount.</p>
              <% } %>
          </div>
        </div>
        <div class="card col mx-2 my-2" style="width: 18rem">
          <img src="Blue Jeans.jpg" class="card-img-top" alt="Blue Jeans" />
          <div class="card-body">
            <h3 class="card-title">Blue Jeans</h3>
            <% if (premium || discount.find(item => item == "item5")) { %>
              <p class="card-text h1"><del>$450</del> $360</p>
              <a href="#" class="btn btn-outline-success">Discount</a>
              <% } else { %>
              <p class="card-text h1">$450</p>
              <p class="card-text h5">Get a membership or buy it for the first time to avail discount.</p>
              <% } %>
          </div>
        </div>
        <div class="card col mx-2 my-2" style="width: 18rem">
          <img
            src="Graphic Trendy Shirt.jpg"
            class="card-img-top"
            alt="Graphic Trendy Shirt"
          />
          <div class="card-body">
            <h3 class="card-title">Graphic Trendy Shirt</h3>
            <% if (premium || discount.find(item => item == "item6")) { %>
              <p class="card-text h1"><del>$170</del> $136</p>
              <a href="#" class="btn btn-outline-success">Discount</a>
              <% } else { %>
              <p class="card-text h1">$170</p>
              <p class="card-text h5">Get a membership or buy it for the first time to avail discount.</p>
              <% } %>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="card col mx-2 my-2" style="width: 18rem">
          <img src="Plain Tshirt.jpg" class="card-img-top" alt="Plain Tshirt" />
          <div class="card-body">
            <h3 class="card-title">Plain Tshirt</h3>
            <% if (premium || discount.find(item => item == "item7")) { %>
              <p class="card-text h1"><del>$50</del> $40</p>
              <a href="#" class="btn btn-outline-success">Discount</a>
              <% } else { %>
              <p class="card-text h1">$50</p>
              <p class="card-text h5">Get a membership or buy it for the first time to avail discount.</p>
              <% } %>
          </div>
        </div>
        <div class="card col mx-2 my-2" style="width: 18rem">
          <img src="Red Dress.jpg" class="card-img-top" alt="Red Dress" />
          <div class="card-body">
            <h3 class="card-title">Red Dress</h3>
            <% if (premium || discount.find(item => item == "item8")) { %>
              <p class="card-text h1"><del>$650</del> $520</p>
              <a href="#" class="btn btn-outline-success">Discount</a>
              <% } else { %>
              <p class="card-text h1">$650</p>
              <p class="card-text h5">Get a membership or buy it for the first time to avail discount.</p>
              <% } %>
          </div>
        </div>
        <div class="card col mx-2 my-2" style="width: 18rem">
          <img src="White Hoodie.jpg" class="card-img-top" alt="White Hoodie" />
          <div class="card-body">
            <h3 class="card-title">White Hoodie</h3>
            <% if (premium || discount.find(item => item == "item9")) { %>
              <p class="card-text h1"><del>$200</del> $160</p>
              <a href="#" class="btn btn-outline-success">Discount</a>
              <% } else { %>
              <p class="card-text h1">$200</p>
              <p class="card-text h5">Get a membership or buy it for the first time to avail discount.</p>
              <% } %>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
